.module__editor {
    display: flex;
    align-content: center;
    align-items: center;
    width: 100%;

    flex-wrap: wrap;

    &.-justified {
        & .module__editor__column {
            flex-grow: 1;
        }
    }

    &.-padded {
        padding: .75rem .5rem;
    }
}

.module__editor__column {
    display: flex;
    align-items: center;
    padding: .5em;

    &.-stretch {
        flex-grow: 1;
    }

    &.-stacked {
        display: block;
    }
}
