.module__alert {
    display: flex;
    align-items: center;
    margin: 1em;
    padding: 1em;

    color: color($gray, dark);
    background: rgba(black, .05);
    border-radius: 3px;

    &.-error {
        color: color($red);
        background: color($red, lightest);
    }
}

.module__alert__message {
    flex-grow: 1;
    padding: .5em 0;
}

.module__alert__delete {
    color: inherit;
    border: 0;
}
