.module__button {
    @extend .button.-blue;
}

.module__button--delete {
    @extend .button.-danger;

    float: right;
}

.module__button--debug {
    height: 2em;
    margin: 0;
    margin-left: .5em;
    padding: 0;

    color: color($red, light);
    background: none;
    border: 0;
    box-shadow: none;

    font-size: .8em;
    text-transform: uppercase;

    cursor: pointer;

    &:hover {
        color: color($red);
    }

    &:focus {
        outline: 0;
    }

    &:active {
        top: 0;

        box-shadow: none;
    }
}
