.module__progress {
    @extend .progress;

    border-radius: 3px !important;
}

.module__progress__bar {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    height: 2em;

    background-color: color($green);
    box-shadow: inset 0 2px rgba(color($gray), .15);

    transition: transform .5s linear;
}

.module__progress__name {
    position: absolute !important;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 .65em;
    z-index: 2;

    line-height: 2em;
}
