.module__upload__table {
    width: 100%;
    margin: 0;

    background-color: transparent;
    border-collapse: collapse;
}

.module__upload__row {
    background-color: transparent !important;
    border-bottom: 2px solid color($gray, lighter, .5) !important;
}

.module__upload__column--thumb {
    padding: .5em 1em .5em 2.5em;
}

.module__upload__column--progress {
    width: 100%;
    padding-right: 1em;
    padding-left: 0;
}
