.status {
    display: inline-block;
    vertical-align: middle;

    font-size: font-size(xxs);

    margin-left: .5rem;
    margin-right: .5rem;

    &.-on {
        color: color($green);
    }

    &.-off {
        color: color($gray);
    }

    &:first-child {
        margin-left: 0;
    }

    &:last-child {
        margin-right: 0;
    }

    h1 & {
        @include position-center-vertical;
        left: -1.5em;
    }
}
